body {
    background: #181818;
}

h1 {
    cursor: pointer;
    color: #424242;
    font: 800 3rem 'Montserrat';
    transition: .5s;
}

h1:hover {
    color: #fff;
    text-shadow: 0 0 5px #03e9f4,
        0 0 25px #03e9f4,
        0 0 50px #03e9f4,
        0 0 100px #03e9f4;
}